{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weather App Experiment
  </h3>
  <p>
Should you dry your laundry indoors or outdoors today?
We would all like to avoid drying clothes indoors but sometime its unavoidable. And for outdoor drying you need sun exposure and combine this with relatively low humidity (less than 70%) and sufficient wind (8-12mph sustained).
So we need a sunny, not-too-humid day, with a good level of wind. But in Ireland we get all four seasons in one day! 
With this site you can check current indoor and outdoor conditions to see where best to dry your laundry, tweets are also sent to twitter if you have left your rads on too long in and effort to dry indoors!
  </p>
</section>